/* Content.module.css */



/* General Styles */
.content {
    padding-top: 20px;

    /* Horizontally center the content */
   
}

.contentH3{
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;
}

/* .trendH3Text{
    font-size: 30px;
     
}  */

.content h3 {
    background-color: rgb(163, 13, 13);
    width: auto;
    border-radius: 10px;
    
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 41px;
    color: rgb(246, 246, 246);
}

/* Header Styles */
.contentHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    /* background-color: rgb(3, 11, 120); */
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5px;
}

/* Coin Item Styles */
.coinItem img {
    width: 110px;
    border-radius: 25px;
}

.coinItem p {
    font-size: 18px;
    color: rgb(9, 224, 9);
    font-weight: bold;
}

.coinItem h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

.arrowDownIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    height: auto;
}

.arrowDownIcon a {

    text-decoration: none;
    color: #f3ecec;
    font-size: 40px;
    cursor: pointer;
    transition: color 0.3s ease;
    animation: bounceAnimation 2s infinite;
    /* animation: boun; */
    /* Add a smooth color transition on hover */

}

.arrowDownIcon a:hover {
    color: chocolate;
    /* Change the color on hover as needed */
}

.contentBody {
    margin-top: 200px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-bottom: 400px;
    /* Add some space for demonstration */
}

.searchInput {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.searchInput input {
    width: 400px;
    /* Set your desired width */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}














.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    /* Add a smooth color transition */
}

.scrollToTop:hover {
    background-color: #555;
    /* Change background color on hover */
}










@keyframes bounceAnimation {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .contentHeader {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .coinItem img {
        max-width: 80px;
        border-radius: 15px;
    }

    .arrowDownIcon a {
        font-size: 30px;
    }

    .contentHeader {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around; */
        gap: 15px;
        height: auto;
        background-color: black;
        align-items: center;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
        padding: 10px 10px;
    }

    .content h3 {
        text-align: center;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        color: chocolate;
    }

    .coinItem p {
        font-size: 15px;
        color: rgb(9, 224, 9);
        font-weight: bold;
    }

    .coinItem h3 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 15px;
        color: white;
    }

    .coinItem img {
        width: 60px;
        border-radius: 25px;
    }
}