@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbarLogo {
    display: flex;
    height: 70px;
    padding-bottom: 80px;
    color: rgb(41, 193, 201);
    font-family: 'Bebas Neue';
    font-size: 35px;

}

.words {
    overflow: hidden;
    margin-top: 35px;
    padding-top: 10px;
    height: 100%;

}

.span1 {
    display: block;
    padding-left: 20px;
    font-size: 1.5em;
    color: rgb(0, 0, 0);


}


.span {
    display: block;
    padding-left: 20px;
    font-size: 1.5em;
    color: white;
    animation: spin_words 6s infinite;
}

@keyframes spin_words {
    10% {
        transform: translateY(-112%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-212%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-312%);
    }

    75% {
        transform: translateY(-300%);
    }

    85% {
        transform: translateY(-412%);
    }

    100% {
        transform: translateY(-400%);
    }
}


.navbarLinks {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 15px;

}

.navLink {
    font-size: 17px;
    font-family: cursive;
    font-weight: bold;
}

.navLink:hover {
    color: rgb(217, 217, 217);
}

.drawer_container {
    display: none;
}



/* Responsive Styles */
@media screen and (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;

    }

    hr {
        display: none;
    }

    .navbarLogo h2 {
        /* display: none; */
        font-size: larger;
        padding-left: 3px;
    }

    .navbarLinks a {
        display: none;
    }

    .words {
        overflow: hidden;
        margin-top: 35px;
        padding-top: 10px;
        height: 100%;
    }

    .span {
        display: none;
        padding-left: 18px;
        font-size: larger;
        color: white;
        animation: spin_words 6s infinite;
    }

    .drawer_container {
        display: flex;
    }

    .drawer_menu {
        font-size: 30px;
        color: white;
    }

    .drawer_menu:hover {
        font-size: 45px;
        transition: 0.2s;
        color: rgb(217, 217, 217);

    }

    .drawer_div {
        padding: 1.5rem;
        background-color: #050505;
        height: 100vh;
        width: 25vw;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .drawer_link {
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 20px;
        /* Adjust as needed */

    }

    .drawer_link:hover {
        color: rgb(217, 217, 217);
        font-size: 21px;
        transition: 0.3s;

    }
}