.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbarLogo {
    padding-left: 15px;
    color: white;
    font-family: monospace;
    font-size: 24px;
    font-weight: bolder;
}


.navbarLinks {
    display: flex;
    gap: 30px;
    align-items: center;
    
}

.navLink {
    text-align: center;
    width:90px;
    height: max-content;
    color: #050505;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-family: cursive;
    text-decoration: none;
}

.navLink:hover {
    background-color: rgb(14, 157, 213);
    color: white;
}

a .active{
    background-color: #050505;
    color: red
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: right;
        text-align: left;
    }

    .navbarLogo {
        font-size: large;
    }

    .navbarItems a {
        display: none;
    }

    .navbarItems {
        margin-top: 10px;
        padding: 0;
        /* Adjust spacing for smaller screens */
    }
}